
/* Overlay */
.success-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

/* Wrapper */
.checkmark-wrapper {
  background: #020617;
  padding: 40px;
  border-radius: 16px;
  text-align: center;
  color: #e5e7eb;
}

/* SVG Animation */
.checkmark {
  width: 80px;
  height: 80px;
  stroke: #22c55e;
  stroke-width: 4;
  stroke-miterlimit: 10;
  animation: scaleIn 0.3s ease-in-out;
}

.checkmark-circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  animation: stroke 0.6s forwards;
}

.checkmark-check {
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s 0.6s forwards;
}

/* Animations */
@keyframes stroke {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes scaleIn {
  0% { transform: scale(0.5); }
  100% { transform: scale(1); }
}

/* Button */
.button {
  color: #fff;
  border: none;
  padding: 12px;
  border-radius: 10px;
}
.button{
  background-color: #020617;
  color: aliceblue;
}
