<div class="dashboard-container">

  <!-- ☰ Mobile Menu Button -->
  <button
  class="menu-toggle"
  *ngIf="!sidebarOpen"
  (click)="toggleSidebar()"
>
  ☰
</button>


  <!-- Overlay -->
  <div class="overlay" *ngIf="sidebarOpen" (click)="closeSidebar()"></div>

  <!-- Sidebar -->
  <aside class="sidebar" [class.open]="sidebarOpen">
    <button class="close-btn" (click)="closeSidebar()">✕</button>

    <img src="assets/logo-white.png" class="logo" alt="Logo" />

    <ul class="menu">
      <li><a routerLink="addProjects" routerLinkActive="active" (click)="closeSidebar()">Add Projects</a></li>
      <li><a routerLink="viewProjects" routerLinkActive="active" (click)="closeSidebar()">View Projects</a></li>
      <li><a routerLink="addPayments" routerLinkActive="active" (click)="closeSidebar()">Add Payments</a></li>
      <li><a routerLink="addExpenses" routerLinkActive="active" (click)="closeSidebar()">Add Expenses</a></li>
      <li><a routerLink="changePass" routerLinkActive="active" (click)="closeSidebar()">Change Password</a></li>
      <li><a routerLink="logOut" routerLinkActive="active" (click)="closeSidebar()">logOut</a></li>


    </ul>
  </aside>

  <!-- Content -->
  <main class="content">
    <router-outlet></router-outlet>
  </main>

</div>
